# built application files
*.apk
*.ap_

# files for the dex VM
*.dex

# Java class files
*.class

# Local configuration files (sdk path, etc)
local.properties

# Mac .DS_Store files
.DS_Store

# Proguard README
proguard-project.txt

# Android Studio and Gradle specific entries
.gradle
*.iml
build

# android sdk captures folder
captures

# ignore lint html and xml output
lint-*ml

.idea/*
!.idea/codeStyles/

# ignore python statistic files
__pycache__
