[submodule "owncloud-android-library"]
	path = owncloud-android-library
	url = https://github.com/owncloud/android-library.git
	branch = master
[submodule "ocdoc"]
	path = user_manual/ocdoc
	url = https://github.com/owncloud/documentation
	branch = master
[submodule "dav4android"]
	path = dav4android
	url = https://gitlab.com/derSchabi/dav4android.git
