<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="devliving.online.cvscanner">

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <uses-feature android:name="android.hardware.camera" android:required="false"/>
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false"/>

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">

        <activity android:name=".DocumentScannerActivity"
            android:theme="@style/CVScannerTheme"
            android:configChanges="orientation|screenSize"
            />

        <activity android:name=".crop.CropImageActivity"
            android:theme="@style/CVScannerTheme"
            android:configChanges="orientation|screenSize"
            />

        <provider
            android:name=".util.CVFileProvider"
            android:authorities="${applicationId}.cvscanner.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>
    </application>

</manifest>
